rules_version='2'

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isUser(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read: if isUser(userId);
      allow create: if isUser(userId) && request.resource.data.uid == userId;
      allow update: if isUser(userId) &&
        resource.data.uid == userId &&
        request.resource.data.uid == userId;
      allow delete: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
